<%= form_with url: '/top/main', method: :post, local: true do |f| %>
    <h1>名詞マネージャー</h1>
    <br>
    <%= link_to "新規登録" ,new_user_path %>
    <%= link_to "ログイン" ,top_login_path %>
    <br>
    <p>アプリについての説明</p>
<% end %>

