body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
}

header .title h3 {
    position: absolute;
    top: 60px;
    left: 200px;
    margin: 10px;
    font-size: 30px;
}

.top h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.buttons {
    margin-bottom: 30px;
    text-align: center;
}

.button-container {
  display: flex;
  margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: 2px solid black;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #0056b3; 
}
.main{
    text-align: left;
}
.main h2{
    text-align: center;
}

.field{
    width: 250px; 
    height: 20px;
}

.input{
    margin-bottom: 10px;
    text-align: right;
    font-size: 22px;
}

.error{
    color: red;
    font-size: 15px;
}

.syosai{
    margin-top: 100px;
    margin-right: 100px;
    text-align: right;
    font-size: 20px;
}

.cardmain {
    width: 500px;
    display: flex;
    padding-top: 70px; 
    margin-bottom: 20px;     
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}


.nav {
    position: absolute;
    top: 50px;
    right: 200px;
    margin-left: 20px;
    color: #007BFF;
    font-size: 20px;
}

.serchbox {
  display: flex;
  gap: 10px;
}

.searchbox label {
  margin-right: 10px;
  font-size: 14px;
}

.searchbox input[type="text"] {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
